name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Validate build
      run: sbt validate && bash <(curl -s https://codecov.io/bash) -t ${{ secrets.CODECOV_TOKEN }}
      env:
        JAVA_OPTS: -Duser.country=US -Duser.language=en